body {
  background-color: rgba(0, 0, 0, 0.942);
}

.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: rgb(255, 255, 255);
  list-style: none; 
}

.article-header {
  display: grid;
  height: 80px;
}


.article-container {
  border: ridge rgb(235, 1, 126) 10px;
  font-size: 18px;
  text-align: center;
}

.article-content {
  font-family: Arial, Helvetica, sans-serif;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
}

.author-text,
.topic-text {
  color: rgb(219, 0, 121);
  margin-right: 3px;
}


.comment-count-text,
.vote-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 20px;
  color: rgb(234, 0, 152);
}

.article-image {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comment-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.articleLink {
  color: rgb(255, 255, 255);
  text-align: center;
}


.home-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-link-text {
  color: rgb(230, 0, 115);
  text-decoration: underline;
  font-size: 50px;
}

.home-link-text:hover {
  box-shadow: 0px 0px 10px 10px rgb(251, 0, 255);
  color: rgb(0, 0, 0);
  text-decoration: underline;
}