.title-header {
  color: rgb(165, 165, 165);
  font-family: 'Knockout Punch', sans-serif;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 50px;
}

.logged-user-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 22px;
  font-size: 12px;
  font-family: 'knockout Punch', sans-serif;
  gap: 10px;
  color: rgb(165, 165, 165); 
  margin-top: 20px;
  padding-right: 10px;
}

.logged-user-container:hover {
  color: rgb(208, 255, 0);
}

.user-header {
  display: flex;
  align-items: center;
}





