/* The top bar */ 

.top-bar {
  display: grid;
  grid-template-columns: 0.5fr 9fr 4fr;
  font-family: 'Moondog Fifteen', sans-serif;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.811);
  font-size: 1.75vw;
  padding-top: 25px;
  padding-bottom: 25px;
}


/* Navbar container */
.nav-centre {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Links inside the navbar */
.nav-centre a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown, 
.dropdown-button {
  border: none;
  outline: none;
  color: white;
  font-size: 1.75vw;
  background-color: inherit;
  font-family: 'Moondog Fifteen', sans-serif;
}

/* .nav-centre a:hover, 
.dropdown:hover 
.dropdown-button {
  background-color: rgb(6, 0, 190);
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9c1111;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* left and right sections of the navbar */ 
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-left a {
  color: rgb(255, 255, 255)
}

.home-link, 
.contact-us-link,
.login-link,
.sign-up-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.dropdown-button:hover,
.home-link:hover, 
.contact-us-link:hover,
.login-link:hover,
.sign-up-link:hover {
  color: rgb(208, 255, 0);
  text-decoration: underline;
  cursor: pointer;
}