/* The top bar */ 

.top-bar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 98%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: black;
  font-size: 25px;
}



/* Navbar container */
.nav-centre {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Links inside the navbar */
.nav-centre a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown, 
.dropdown-button {
  border: none;
  outline: none;
  color: white;
  font-size: 25px;
  padding: 14px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  /* margin: 0; Important for vertical align on mobile phones */
}

.nav-centre a:hover, .dropdown:hover .dropdown-button {
  background-color: rgb(6, 0, 190);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9c1111;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* left and right sections of the navbar */ 
.nav-right,
.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.home-link,
.solar-system-link,
.about-us-link,
.moon-link,
.star-link,
.dwarf-planet-link,
.contact-us-link,
.login-link,
.sign-up-link {
  color: white;
  text-decoration: none;
}

.home-link:hover,
.solar-system-link:hover,
.about-us-link:hover,
.moon-link:hover,
.star-link:hover,
.dwarf-planet-link:hover,
.contact-us-link:hover,
.login-link:hover,
.sign-up-link:hover {
  color: rgb(136, 0, 0);
  text-decoration: underline;
}