.title {
  text-align: center;
  color: purple;
}





.img-and-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.body {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 22px;

}

.img {
  height: 400px;
  width: 400px;
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
}