.title {
  text-align: center;
  color: rgb(0, 88, 115);
  margin-bottom: 50px;                                                                 font-family: 'Knockout Punch', sans-serif;
  font-family: 'Knockout Punch', sans-serif;                                                                                    
}


.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 50px;
}


.body {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-size: 22px;
  font-family: 'Moondog Fifteen', sans-serif;                                              
}

.comments-votes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: solid;
  border-top: solid;
  padding-bottom: 20px;
  padding-top: 20px;

}

.img {
  height: 350px;
  width: 350px;
  border-radius: 350px;
  margin: auto;
  position: relative;
}

.topic {
  margin-left: 30px;
}

.created-container {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: darkslategrey;
  font-size: 20px;
}

.loading {
  text-align: center;
  font-size: 30px;
}